@using System.Globalization
@inject HttpClient _httpClient

<RadzenCard>
    <div class="row">
        <div class="col-md-6">
            <div><b>@Donor.UserName @if(Donor.UserName != Donor.Name) {<br><span>@Donor.Name</span>}</b></div>
        </div>
        <div class="col-md-3">
            <div><b><RadzenBadge BadgeStyle="BadgeStyle.Secondary" Class="price-badge" Text=@($"{Utilities.FormatAsUSD(Donor.Amount)}")></RadzenBadge></b></div>
        </div>
        <div class="col-md-3">
            <div><b>@Donor.PledgesCount</b></div>
        </div>
    </div>
</RadzenCard>

@code {
    [Parameter] 
    public Campaign Campaign { get; set; } = default!;

    [Parameter] 
    public Donor Donor { get; set; } = default!;
}